<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel = "tests">

<listeners>
        
        <listener class-name = "Framework.E2E_Project.Listeners"/>
        <!-- This executes when ever a test case class file is completed -->
        
        </listeners>
  <test name="Test">
    <classes>
      <class name="Cucumber_Options.Cucumber_options_Testrunner"/>
    </classes>
    </test>
  <!-- Test -->
</suite> <!-- Suite -->
