<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="classes" name="Suite">
  <test thread-count="5" parallel="classes" name="Test">
    <classes>
      <class name="Selenium_remote_docker_testing.docker_validation.chromenode1Test"/>
      <class name="Selenium_remote_docker_testing.docker_validation.chromenode2Test"/>
      <class name="Selenium_remote_docker_testing.docker_validation.chromenode3Test"/>
      <class name="Selenium_remote_docker_testing.docker_validation.firefoxnode1Test"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
